#mashiron
{
    position: fixed;
    top: 25px;
    right: 25px;
    font-size: 80px;
    z-index: 1;
    color: white;
    font-family: "Roboto";
}

.content
{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: auto;
}

.image
{
    position: fixed;
    width: 100%;
}

.soundtrigger
{
    cursor: pointer;
}